<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
      <ion-title>New-Offer</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size-sm="4" size-md="2" offset-sm="2" offset-md="4">Row 1 Col 1</ion-col>
      <ion-col size-sm="4" size-md="3">
        <ion-card>
          <ion-card-content>
            <h1>The Column</h1>
            <p>Row 1 Col 2</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
